body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.conversor {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px auto;
}

h1 {
    font-size: 24px;
    color: #007bff;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:focus, select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #77a345;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
